/* Option 1: Remove the whole line */
/*.xA33Gc {
  display: none
}
.iUh30 {
  display: none
}
.B6fmyf .yWc32e {
  display: none
}
.TbwUpd br {
  display: none
}
.srg br {
  display: none
}*/
/* Option 2: Revert to the old style */
.xA33Gc {
  display: none;
}
.B6fmyf .yWc32e {
  display: none;
}
.r .TbwUpd {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  box-ordinal-group: 2;
  display: block;
}
.r .LC20lb {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  box-ordinal-group: 1;
  display: block;
}
.r a {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
}
/*.srg .g {
  margin-bottom: 0;
}*/
.iUh30 {
  color: rgb(18, 106, 44);
}
.iUh30:hover {
  /*text-decoration: none;
  text-decoration-color: none;
  text-decoration-style: none;*/
}
.LC20lb {
  margin-bottom: 0;
}

#rcnt .r a:hover {
  text-decoration: none;
}

.r br {
  display: none;
}

.g:first br {
  display: none;
}